body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
  }
  
  .screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width : 98vw;
    color: white;
    background-image: url('path_to_your_background_image');
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .login-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    color: #ffcc00;
  }
  
  .subheading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .features {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .features li {
    font-size: 18px;
  }
  
  .upload-btn {
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .progress-bar {
    width: 300px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .progress {
    width: 50%; /* Adjust percentage to simulate progress */
    height: 100%;
    background-color: orange;
  }
  
  .esrb-logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .esrb-logo img {
    width: 100px;
  }